.alert, .alert-success, .alert-error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.alert-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.alert-error {
  color: #D8000C;
  background-color: #FFBABA;
}